*, *::after, *::before { box-sizing: border-box; margin: 0;}

body {
    max-width: 1000px;
    margin: auto;
    background-color: #E6ECF1;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

button,
input[type="checkbox"],
input[type="file"] {
    cursor: pointer;
}

textarea {
    resize: none;
}

button:not(.newCategory button) {
    background-color: transparent;
    border: none;
}

.app {
    display: flex;
    column-gap: 20px;
    height: 500px;
    background-color: #E6ECF1;
    border-radius: 10px;
    user-select: none;
}

.panel {
    width: 30%;
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: #EEF2F5;
    
}

.panelHead {
    display: flex;
    height: 70px;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.6);
}

.panelBody {
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.6);
    border-radius: 10px;
    padding: 20px 0;
    height: calc(100% - 90px);
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.newCategory {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.newCategory button {
    padding: 2px 10px;
}

.category,
.subCategory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 5px;
}

.category button {
    font-size: 18px;
}

.subCategory button {
    font-size: 16px;
}

.category button:hover,
.subCategory button:hover {
    font-weight: 700;
}

.category {
    background-color: #EEF2F5;
    position: relative;
    z-index: 10;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    margin: 15px 15px;
    
}

.category:first-child {
    margin-top: 5px;
}

.categories {
    position: relative;
    z-index: 1;
}

.addCategory,
.addSubCategory,
.addItem,
.changeCategory,
.changeSubCategory,
.changeItem {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: 0.3s;
    background-color: #EEF2F5;
    z-index: 10;
}

.addSubCategory,
.addItem,
.changeSubCategory,
.changeItem {
    width: calc(100% - 40px);
    height: calc(100% - 130px);
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
}

.visible {
    left: 0;
}

.main {
    border: 2px solid white;
    width: 70%;
    padding: 20px;
    background-color: #EEF2F5;
    border-radius: 10px;
    position: relative;
    overflow-x: hidden;
}

.subCategory {
    padding: 0 20px 0 40px;
    position: relative;
}

.subCategory::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 30px;
    width: 10px;
    height: 35px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.addSubCategoryBtn,
.addItemBtn {
    width: 140px;
    height: 140px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.disabled {
    opacity: 0.3;
}

.addSubCategoryBtn div,
.addItemBtn div {
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addSubCategoryBtn button,
.addItemBtn button {
    width: 64px;
    height: 64px;
    background: url(./icons/add.png) center / contain;
}

.addCategoryBtn {
    width: 32px;
    height: 32px;
    background: url(./icons/add.png) center / contain;
}

.subCategories,
.items,
.promo {
    display: flex;
    column-gap: 13px;
    row-gap: 13px; 
    flex-wrap: wrap;
    align-content: flex-start;
}

.subCategoryRight,
.item {
    width: 140px;
    height: 140px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #E6ECF1;
    transition: .2s;
    position: relative;
}

.subCategoryRight:hover .delSubCat button,
.subCategoryRight:hover .changeSubCategoryBtn,
.item:hover .delItem button {
    opacity: 1;
}

.subCategoryRight:hover,
.item:hover {
    transform: scale(1.01);
    box-shadow: 0 0 5px black;
} 

.itemDetails h1 {
    margin: 0 0 50px;
}

.itemImage,
.subImage {
    width: 100%;
    height: 66%;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}

.delSubCat,
.delItem {
    position: absolute;
    top: 7%;
    right: 3%;
}

.delCat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delCat button {
    width: 20px;
    height: 20px;
    background: url(./icons/trash.png) center / contain;
    opacity: 0;
}

.category:hover .delCat button {
    opacity: 1;
}

.delSubCat button,
.delItem button {
    width: 20px;
    height: 20px;
    background: url(./icons/trash.png) center / contain;
    opacity: 0;
    transition: opacity .2s;
}

.delSubCat button:active,
.changeCategoryBtn:active,
.category .delCat button:active,
.changeSubCategoryBtn:active,
.delItem button:active {
    transform: scale(0.9);
}

.changeSubCategoryBtn {
    position: absolute;
    top: 33%;
    right: 3%;
}

.changeCategoryBtn {
    width: 20px;
    height: 20px;
    background: url(./icons/settings.png) center / contain;
    opacity: 0;
}

.category:hover .changeCategoryBtn {
    opacity: 1;
}

.changeSubCategoryBtn {
    width: 20px;
    height: 20px;
    background: url(./icons/settings.png) center / contain;
    opacity: 0;
    transition: opacity .2s;
}

.changeItemDetailsBtn {
    width: 34px;
    height: 34px;
    background: url(./icons/settings.png) center / contain;
}

.subCategoryForm,
.itemForm {
    display: flex;
    height: 34%;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.placeAtHome {
    display: flex;
    column-gap: 20px;
}

.previewImg img {
    width: 90px;
    height: 60px;
    object-fit: contain;
}

.previewImg {
    position: relative;
    cursor: pointer;
}

.previewImg::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    width: 10px;
    height: 10px;
    background-color: red;
}

.description {
    display: flex;
    column-gap: 40px;
}

.description img {
    width: 45%;
}

#addSubCategoryForm {
    margin-top: 40px;
}

#changeSubCategoryForm {
    margin-top: 20px;
}

#subCategoryFile,
#changeSubCategoryFile {
    margin: 10px 0 20px;
}

#description,
#descriptionUpdate {
    width: 400px;
}

#subCategoryName,
#subNameUpdate,
#itemName,
#itemNameUpdate {
    text-align: center;
}

.active {
    font-weight: 700;
}

.homeImage {
    border-radius: 10px;
    object-fit: contain;
}

.home,
.subCategories,
.items,
.itemDetails {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.6);
    height: calc(100% - 65px);
    overflow-y: scroll;
}

.noMatches {
    margin: 100px auto 0;
    font-size: 40px;
}

.breadcrums {
    height: 45px;
    padding: 11px 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.6);
    margin-bottom: 20px;
    color: black;
    position: relative;
}

.search {
    position: absolute;
    top: 20%;
    right: 2%;
}

.search input {
    width: 120px;
    height: 23px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: inset 0 0 1px black;
    text-align: center;
}

.breadcrums a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.breadcrums a:last-of-type {
    color: black;
}

.breadcrums a:hover {
    text-decoration: underline;
    color: black;
}